*{margin:0;padding:0;}
.weatherPlug{background:url(../img/wp_bg.png) no-repeat;_background:url(../img/wp_bg.gif) no-repeat;width:229px;height:110px;position:relative;}
.weaArea{background:url(../img/difang.png) no-repeat ;font-size:12px;line-height:20px; text-align:center;position:absolute;top:0px;left:40px;top:14px;}
.weaArea i{float:left;height:20px;color:#443600;font-family:'Microsoft YaHei';font-style:normal;}
.weaArea .weaArea_l{background:url(../img/difang.png) 0 -1px no-repeat;width:10px;}
.weaArea .weaArea_f{background:url(../img/difang.png) 0 -24px repeat-x;}
.weaArea .weaArea_r{background:url(../img/difang.png) 0 -44px no-repeat;width:10px;}
.weaImg{position:absolute;left:30px;top:38px;}
.weaImg img{margin:0;float:left;}
.weaTem{ text-align:center;font-family:'Microsoft YaHei';display:block;color:#013469;position:absolute;top:42px;left:132px;}
.weaTem i{display:block;font-style:normal;}
.weaTem .Tem{font-size:18px;line-height:17px;}
.weaTem .wea{font-size:14px;}
.localTime{ height:20px;line-height:20px;font-size:12px;color:#7690A7;position:absolute;top:87px;left:60px;}