body{background-color:#EEEEEE;padding:0px;margin:0px;border:0;font: 14px/1.6 "Microsoft Yahei","Tahoma","SimSun";}
*{padding:0px;margin:0px;border:0;}
ul{list-style:none;}
a{text-decoration:none;color:#252525;}
h1, h, h3, h4, h5, h6{font-weight:normal;}
a:hover{color:#ee842f;}
.clear{clear:both;height:0px;overflow:hidden;}
.clearfix{zoom:1}
.clearfix:after{content:".";display:block;clear:both;visibility:hidden;height:0;}
.contentpage_container{
	padding: 0 10px 40px 10px;
	background: #f8f8f8;
	width:980px;
	margin: 0 auto;
}
.contentpage_container .col_1{
	width: 675px;
	float: left;
	zoom: 1;
}
.content_section .content_pages{
    text-align:center;
    font-size:16px;
    padding-top:35px;
}
.content_section .content_pages a{
    display:inline-block;
    padding:0 5px;
    margin:0 5px;
}
.content_section .content_ft{
    padding-top:35px;
}
.content_section .content_ft .editor{
    float: right;
}
.content_section .content_ft .cp{
    float: left;
}
.contentpage_container .col_2{
	float: right;
	width: 300px;
	zoom: 1;
}
.topads{
	height: 90px;
	overflow: hidden;
}
.topads .ad_1,
.topads .ad_2,
.topads .ad_3{
	float: left;
}
.topads .ad_1,
.topads .ad_3{
	width: 121px;
}
.topads .ad_2{
	width: 738px;
	text-align: center;
}
.topads .ad_2 img{
	display: block;
	margin: 0 auto;
}
.topads .ad_3{
	text-align: right;
}
.top_contents{
	background: #fefefe;
	height: 115px;
	padding: 7px 8px 0 0;
	margin: 9px 0;
}
.top_contents ul{
	float: left;
}
.top_contents li{
	float: left;
	width: 160px;
	padding: 10px 0 0 90px;
	position: relative;
	zoom: 1;
	margin-left: 15px;
	_display:inline;
}
.top_contents li .icon{
	width: 81px;
	height: 81px;
	background: url('../../i/content_icon.gif') no-repeat 0 0;
	position: absolute;
	left: 0;
	top: 12px;
}
.top_contents li.hot .icon{
	background-position: -82px 0;
}
.top_contents li.interact .icon{
	background-position: -164px 0;
}
.top_contents li h4{
	font-size: 14px;
	padding-bottom: 5px;
}
.top_contents li p{
	line-height: 20px;
	font-size: 12px;
}
.top_contents .right_content{
    display: block;
    width:150px;
    height:112px;
    position:relative;
    zoom:1;
    color:#fff;
    float: right;
}
.top_contents .right_content:hover{
    color:#fff;
}
.top_contents .right_content img{
    display:block;
}
.top_contents .right_content p{
    position: absolute;
    bottom:0;
    left:0;
    display:block;
    width:100%;

    line-height:30px;
    font-size:12px;
    text-align:center;
    z-index: 2;
}
.top_contents .right_content .textbg{
    position: absolute;
    width:100%;
    bottom:0;
    left:0;
    background:#000;
    height:30px;
    opacity:0.8;
    filter:alpha(opacity=60);
}

.contentpage_container .contentcon{
    margin-top:10px;
}
.sideblock{
    background: #fff;
}
.side_ablock{
    margin-bottom:10px;
}
.side_ablock img,
.side_ablock2 img{
    display: block;
}
.side_ablock2{
    margin-top:10px;
}
.sidetab {
    margin-top:10px;
}
.sidetab .tabs li{
    float: left;
    font-size:18px;
    margin-right: 2px;
}
.sidetab .tabs li a{
    padding:0 10px;
    background:#1662a8;
    color:#fff;
    display:block;
    line-height: 30px;
    height: 33px;
    _float: left;
}
.sidetab .tabs li.active a{
    color:#1662a8;
    background:#fff;
}
.sidetab .tab-pane{
    display: none;
}
.sidetab .tab-content .active{
    display:block;
}
.photogroup{
    padding-top:18px;
}
.photogroup li{
    float: left;
    width:50%;
    text-align:center;
}
.photogroup li a,
.photogroup li img{
    display: block;
    margin:0 auto;
}
.linklist {
    padding:10px 0;
}
.linklist li{
    width:135px;
    line-height:23px;
    font-size:12px;
    padding-left:13px;
    float: left;
}
.linklist li a:hover{
    text-decoration:underline;
}
.infoblock1{
    padding-top:10px;
}
.infoblock1 h3{
    font-size:18px;
    background:#076ea8;
    line-height:33px;
    padding-left:30px;
    color:#fff;
    font-weight:normal;
}
.serviceLinks h3{
    font-size:20px;
    padding:10px 0 5px 0;
}
.serviceContent{
    font-size:12px;
    background:#ececec;
    padding:20px;
    line-height:19px;
}
.serviceContent h5{
    color:#2e8abb;
    font-size:12px;
}
.photogroup1{
    padding-top:15px;
}
.photogroup1 img{
    float: left;
    display:block;
    margin-left:15px;
    _display:inline;
}
.photogroup1 h5{
    font-weight:bold;
}
.photogroup1 p{
    font-size:12px;
}
.photogroup1 .g_text{
    margin-left:145px;
}
.photogroup1 a:hover p{
    text-decoration:underline;
}
.linklist2{
    line-height:23px;
    font-size:12px;
    padding:10px 0 0 15px;
}
/*zixun start*/
.content_section .zxItem{background-color:#FDFDFD;margin-bottom:2px;padding:20px 40px;}
.content_section .zxItem b{font-size:18px;display:block;line-height:40px;}
.content_section .zxItem i{font-style:normal;color:#898989;line-height:24px;display:block;}
.content_section .zxItem img{display:block;width:88px;height:66px;float:left;margin:10px 22px 0px 0px;}
.content_section .zxItem i span{width:485px;float:left;font-size:14px;}
.content_section .zxItem span{font-size:12px;color:#737878;line-height:30px;display:block;}
/*zixun end*/