.contentpage_container{
	padding: 0 10px 40px 10px;
	background: #f8f8f8;
	width:980px;
	margin: 0 auto;
}
.contentpage_container .col_1{
	width: 675px;
	float: left;
	zoom: 1;
}
.content_section .content_pages{
    text-align:center;
    font-size:16px;
    padding-top:35px;
}
.content_section .content_pages a{
    display:inline-block;
    padding:0 5px;
    margin:0 5px;
}
.content_section .content_ft{
    padding-top:35px;
}
.content_section .content_ft .editor{
    float: right;
}
.content_section .content_ft .cp{
    float: left;
}
.contentpage_container .col_2{
	float: right;
	width: 300px;
	zoom: 1;
}
.topads{
	height: 90px;
	overflow: hidden;
}
.topads .ad_1,
.topads .ad_2,
.topads .ad_3{
	float: left;
}
.topads .ad_1,
.topads .ad_3{
	width: 121px;
}
.topads .ad_2{
	width: 738px;
	text-align: center;
}
.topads .ad_2 img{
	display: block;
	margin: 0 auto;
}
.topads .ad_3{
	text-align: right;
}

.contentpage_container .contentcon{
    margin-top:10px;
}
/*zixun start*/
.content_section .zxItem{background-color:#FDFDFD;margin-bottom:2px;padding:20px 40px;}
.content_section .zxItem b{font-size:18px;display:block;line-height:40px;}
.content_section .zxItem i{font-style:normal;color:#898989;line-height:24px;display:block;}
.content_section .zxItem img{display:block;width:88px;height:66px;float:left;margin:10px 22px 0px 0px;}
.content_section .zxItem i span{width:485px;float:left;font-size:14px;}
.content_section .zxItem span{font-size:12px;color:#737878;line-height:30px;display:block;}
/*zixun end*/