body{background:#c5e431;}
.cityWea { background: none repeat scroll 0px 0px #FFFFFF; height: 427px; width: 931px; margin:15px 0 10px 15px;}
.cityWea .tit { background: url("../../i/tqzt/baxi/b1.jpg") no-repeat scroll right top #F9DB23; height: 33px; line-height: 33px; }
.cityWea .tit h1 { color: #0C4105; font-size: 18px; padding-left: 13px; font-weight:bold; }
.cityWea .main { padding-top: 10px; }
.cityWea .main ul.t { list-style: none outside none; }
.cityWea .main ul.t li { color: #0C733E; float: left; font-size: 16px; font-weight: bold; margin-left: 4px; padding: 0px 5px; cursor:pointer; }
.cityWea .main ul.t li.on { background: none repeat scroll 0% 0% #FEF3BD; }
.cityWea .main .b { }
.cityWea .main .b .l { float: left; margin-left: 30px; margin-top: 14px;position:relative; }
.cityWea .main .b .l .h { position:absolute;display:none}
.cityWea .main .b .r { float: left; padding-left: 50px; padding-top: 10px; width: 460px; }
.cityWea .main .b .r ul { }
.cityWea .main .b .r ul li { border-bottom: 1px dashed #49966E; color: #3A9411; height: 73px; }
.cityWea .main .b .r ul li p { margin-top: 10px; }
.cityWea .main .b .r ul li .m { margin-top: 5px; }
.cityWea .main .b .r ul li .m .img1 { margin-left: 2px; margin-right: 13px; }
.cityWea .main .b .r ul li .m .img2 { margin-right: 19px; }
.cityWea .main .b .r ul li .m span { height: 28px; line-height: 28px; }

.MainBoxTop{float:none; display:block;}
.Three dd h3{overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.Three h2 {background: url("http://i.tq121.com.cn/i/tqzt/baxi/b3.jpg") no-repeat scroll 92px 2px #F9DB23;}
.Three dl{overflow:hidden}
.Three dd{overflow:hidden}
.ifr{ height:445px;}
.ifr h1{margin-left:3px;}
.zztd{margin:0 5px 5px 16px}
.Banner h1 a{color:#fff}
.IndexMain,.MainBox,.bottomFooter{background-color:#4faf24;}
