@charset "utf-8";
body {  }
.box { margin: 0px auto; width: 1000px; }
.sbox { margin: 0px auto; width: 800px; }
.top { background: url("../../i/tqzt/nuanDong/topBg.jpg") repeat-x 0px 0px transparent; height: 76px; }
.top .box { background: url("../../i/tqzt/nuanDong/top.jpg") repeat-x 0px 0px transparent; position: relative; height: 85px; }
.top .logo { left: 0px; position: absolute; top: 7px; z-index: 1; }
.top .m { font-size: 21px; margin-left: 370px; margin-top: 23px; }
.top .m span { display: block; float: left; margin-left: 12px; position: relative;z-index: 10000; }
.top .m i { float: left; background: url("../../i/tqzt/nuanDong/icon.jpg") no-repeat; display: inline-block; height: 13px; margin: 11px; width: 19px; }
.top .r { font-size: 16px; line-height: 78px; margin-right: 6px; }
.main { background:url("../../i/tqzt/nuanDong/bg.jpg") repeat; clear: both; }
.main .box{background:url("../../i/tqzt/nuanDong/bg_box.jpg") repeat;}
.main .tit { border-bottom: 1px solid #000000; height: 78px; padding-bottom: 16px;  }
.main .tit .l { font-weight: bold; font-size: 32px; margin-top: 42px; }
.main .tit .r { left: 563px; position: absolute; top: 7px; width: 319px; }
.main .tit .r .fl { }
.main .tit .r .fr { color: #1F4A76; font-size: 12px; height: 73px; line-height: 24px; width: 237px; }
.main .daoyu { height: 320px; margin-top: 11px; overflow: hidden; }
.main .daoyu .l { background: none repeat scroll 0px 0px #1F4A76; color: #FFFFFF; height: 296px; padding: 12px 12px 12px 18px; width: 200px; }
.main .daoyu .l h1 { font-size: 30px; margin-top: 12px; }
.main .daoyu .l p { font-size: 16px; line-height: 28px; margin-top: 10px; }
.main .daoyu .l p a{color:#f60;}
.main .daoyu .r { }
.main .daoyu .r img { }
.word { margin-top: 51px; }
.word h1 { border-bottom: 2px solid #1F4A76; height: 33px; line-height: 32px; padding-bottom: 7px; padding-left: 7px; }
.word h1 i { background: none repeat scroll 0% 0% #1F4A76; float: left; font-size: 0px; height: 100%; width: 8px; }
.word h1 span { font-weight: bold; float: left; font-size: 20px; padding-left: 9px; }
.word h2 { color: #1F4A76; font-size: 19px; font-weight: normal; margin-left: 10px; margin-top: 24px; }
.word .m { margin-top: 10px; }
.word .m p { font-size: 16px; line-height: 28px; text-indent: 2em; }
.word .m p strong{ font-weight: bold;}
.word .img { margin: 15px auto; width: 750px; }
.word .img img { }
.word .end { border-top: 2px solid #1F4A76; color: #1F4A76; margin-top: 43px; padding-top: 13px; }
.word .end h1 { border-bottom: medium none; font-size: 30px; }
.word .end p { font-size: 19px; line-height: 34px; padding: 0px 38px; }
iframe{margin-top: 70px;}
.sbox
	{
		z-index: 100;
		position:relative;}
	.s {
    left: 499px;
    position: absolute;
    top: 7px;
    width: 386px;
}
.s img.fl
{
	width:71px;}
.s div.fr
{
	color: #3356BB;
	width:298px;}
	.wqhgBox{position:absolute;width:300px;height:auto;top:29px;left:-7px;padding-top:20px;display:none;background:#fff;  }
.wqhgBox .newsBox{border:1px solid #e0e0e0;background:#fff;padding:10px; font-size:14px;height:auto; }
.wqhgBox .newsBox p{line-height:22px;height:auto;padding:10px 0px 10px 0px;background-position: -173px -158px ;border-bottom:1px solid #f2f2f2;  }
.wqhgBox .newsBox p.more{text-align:right;padding-bottom:0px;border-bottom:none;background:none;   }
.top .m span .wqhgBox .colTop{background:url("http://mat1.gtimg.com/view/todayTopic/2013/bntBg2.png") no-repeat; position:absolute;width:18px;height:10px;background-position:-74px -77px ;top:11px;left:35px;}
.WeatherBottom
{
	clear:both;
	color:black;
	height:40px;
	line-height:35px;
	border:1px solid #CCCCCC;
	padding-left:15px;
	margin-bottom:10px;
}
.WeatherBottom span
{
	font-weight:bold;
}