@charset "utf-8";
/* CSS Document */

* { margin: 0; padding: 0; list-style:none; font-weight:normal; }
a img { border:0px solid #dcdddd; }
body { font-family: "Microsoft Yahei", "Tahoma", "SimSun"; background:#719b4f; color:#000; font-size:12px; font-style:normal; }
i { font-style:normal; }
a { color:#36B; text-decoration:none; font-size:12px; outline: medium none; }
a:hover { color:#F60; text-decoration:underline; }
.main { position:relative; }
.banner { width:1280px; margin: 0 auto;  background:url(http://i.tq121.com.cn/i/tqzt/photo/banner.jpg) no-repeat center top; height:514px; }
.box { margin: 0 auto; margin-top: -120px; padding-top: 0px; position: relative; width: 960px; z-index: 1; }
.active { height:470px; margin-bottom:20px; background:#fff; }
.left { width:440px; margin:28px 20px 0px 22px; float:left; display: inline; }
.left h1 { background:url(http://i.tq121.com.cn/i/tqzt/photo/title.jpg) no-repeat; width:115px; height:27px; margin-bottom:10px; line-height:27px; font-size:16px; font-weight:bold; color:#487938; }
.left p { word-break:break-all; margin-bottom:20px; line-height:24px; font-size:14px; }
.left p span a { font-size:14px; color:#f44138; }
.left p span { color:#3f3d3d; font-weight:bold; }
.right { width:440px; float:left; background:url(http://i.tq121.com.cn/i/tqzt/photo/line.jpg) no-repeat left; height:450px; padding-left:20px; margin:28px 0 0 0px; }
.mains { position:relative; }
.pin { width:310px; position:absolute; left:0px; top:0px; margin-top:10px; background:#e3f3e1; margin-left:8px; display:inline; float: left; }
.boxs { padding: 20px 10px; border:1px solid #ccc; }
.boxs a img { width:260px; display:block; height:auto; }
.boxs dl { width:263px; margin:0 auto; }
.boxs dl dt { margin-bottom:10px; }
.boxs dl dd { font-size:14px; line-height:20px }
.wrapper { width:960px; margin:0 auto; background:#fff; padding-bottom:50px; }
#con1_1 { position:relative; }
#con1_1 .product_list { position:absolute; left:0px; top:0px; padding:10px; background:#eee; }
.top{ width:960px; margin:0 auto; text-align:right; height:35px; line-height:35px; color:#000;}
.top a{ color:#000; padding:0px 5px;}
.right span{position:relative; top:-50px;left:250px;}
.right span a{ padding-right: 8px;}
.zpyq { height:auto; padding: 28px 10px 0 10px; background:#fff; margin-bottom:10px; }
.zpyq h1 { background: url("http://i.tq121.com.cn/i/tqzt/photo/title.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0); color: #487938; font-size: 16px; font-weight: bold; height: 27px; line-height: 27px; text-indent:5px; margin-bottom: 10px; width: 115px; }
.zpyq p { line-height:25px; word-break: break-all; font-size:14px; }
.zpyq p span { color:#f00; }
.upload { width:932px; padding-top:20px; height:523px; margin:0 auto; background:url(http://i.tq121.com.cn/i/tqzt/photo/baise.jpg) no-repeat; }
.l { width:566px; float:left; height:500px; }
.r { width:326px; float:right; height:500px; margin-right:20px; }
.tx { height:185px; margin-bottom:10px; padding-top:0px; }
.tx h1 { color: #487938; font-size: 16px; font-weight: bold; height: 27px; line-height: 27px; margin-bottom: 10px; text-indent: 5px; width:566px; background:url(http://i.tq121.com.cn/i/tqzt/photo/titles.jpg) no-repeat; }
.tx table tr td { padding:10px 0px; font-size:14px; }
.tx table tr td span { color:#f00; }
.shang h1 { color: #487938; font-size: 16px; font-weight: bold; height: 27px; line-height: 27px; margin-bottom: 10px; text-indent: 5px; width:566px; background:url(http://i.tq121.com.cn/i/tqzt/photo/title.jpg) no-repeat; }
.from2 { font-size: 12px; width: 430px; }
.shang div { line-height:20px; }
.zi{ color:#f00;}
.r .xuanx
{
	width:325px;
	height:220px;
	background:#ccc;
	margin-bottom:10px;}
.r .xuans
{
	width:325px;
	height:220px;
	background:#ccc;
	margin-bottom:10px;}