@charset "utf-8";
/* CSS Document */
body {font-family: Arial, Helvetica, sans-serif; background:#fff; color:#000; font-size:12px; font-style:normal; }
.box { width:965px; margin:0 auto; }
i { font-style:normal; }
.top { height:160px; }
.top .logo { padding:24px 0 0 1px; }
.top .cen { font-weight:bold; padding-left:107px; height:100%; width:334px; }
.top .cen .localTime { height:60px; line-height:60px; color:#888; font-size:14px; }
.top .cen .searchBox { }
.top .cen .searchBox p { color:#3466bb; font-size:16px; height:34px; line-height:34px; padding-top:10px; }
.top .cen .searchBox p a { color:#9bb4dd; font-size:12px; margin:0 5px; }
.top .cen .searchBox p a:hover { text-decoration:underline; }
.top .cen .searchBox .search { position:relative; }
.top .cen .searchBox .search .txt { margin-left:4px; border:none; background:#9bb4dd; height:30px; line-height:30px; color:#fff; padding:0 40px 0 10px; width:280px; }
.top .cen .searchBox .search .btn { background:url(../../i/en/home/icon.jpg) no-repeat 0 -374px; width:21px; height:22px; position:absolute; top:5px; left:310px; z-index:1; cursor:pointer }
.top .cen .searchBox .search .l, .top .cen .searchBox .search .r { background:url(../../i/en/home/icon.jpg) no-repeat 1px -5px; height:30px; width:20px; position:absolute; top:0; _top:2px; left:-9px; }
.top .cen .searchBox .search .r { background:url(../../i/en/home/icon.jpg) no-repeat -5px -42px; left:325px; }
.top .type { padding:16px 0 0 95px; font-size:14px; }
.top .type a.typeOn { background:url(../../i/en/home/icon.jpg) no-repeat 64px -422px; display:block; width:23px; height:22px; color:#3466bb; width:100px; line-height:23px; }
.top .type a.down { background:url(../../i/en/home/icon.jpg) no-repeat 64px -401px; }
.top .type ul { border:1px solid #ddd; display:none; }
.top .type ul li a { color:#3466bb; line-height:30px; padding:0 5px; width:89px; height:30px; display:block; }
.top .type ul li a:hover { background:#3466bb; color:#fff; }
.nav { width:100%; height:50px; background:#3466bb; }
.nav .box { position:relative; }
.nav ul.navlink li { float:left; }
.nav ul.navlink li a { color:#fff; font-size:20px; line-height:50px; height:50px; padding:0 55px; display:inline-block; }
.nav ul.navlink li.on, .nav ul.navlink li a:hover { background:#2e51a5; }
.nav ul.weaUnit { position:absolute; left:92%; top:15px; }
.nav ul.weaUnit li { width:30px; height:20px; float:left; line-height:20px; text-indent:7px; font-weight:bold; background:#e6ecf6; }
.nav ul.weaUnit li a { color:#2e51a5; width:100%; height:100%; display:block; }
.nav ul.weaUnit li.on { background:#2e51a5; }
.nav ul.weaUnit li.on a { color:#fff; }
.con { background:url(../../i/en/home/bodyBg.jpg) repeat-x; }
.con .box { background:#fff; position:relative; }
.con .l { width:630px; float:left; margin-left:13px; _margin-left:7px; }
.con .l .rader { width:367px; float:left; }
.con .l .rader h1 { font-size:20px; height:50px; line-height:50px; text-indent:7px; }
.con .l .localWeather { margin-left:10px; float:left; }
.con .l .localWeather h1 { font-size:20px; height:50px; line-height:50px; text-indent:7px; }
.con .l .localWeather ul li { width:250px; height:100px; background:#3466bb; margin-bottom:9px; color:#fff; }
.con .l .localWeather ul li h1 { height:46px; line-height:46px; font-size:16px; font-weight:bold; text-align:center; }
.con .l .localWeather ul li div img { margin-left:24px; float:left; }
.con .l .localWeather ul li div span { width:65px; _width:70px; float:left; text-align:center; font-size:35px; line-height:30px; height:30px; }
.con .l .localWeather ul li div dl { float:right; _margin-right:0; width:90px; }
.con .l .localWeather ul li div dl dt { height:20px; line-height:20px; }
.con .l .localWeather ul li div dl dd { margin-top:-2px;  }
.con .l .localWeather ul li div dl dd i { font-size:18px; }
.con .l .video { height:305px; background:#f0f0f0; clear:both; }
.con .l .video h1 { height:35px; text-indent:13px; line-height:35px; font-size:24px; }
.con .l .video .vid { width:605px; margin:0 auto; }
.con .l .video .vid dl.v dd { padding-bottom:10px; color:#666666; position:relative; width:325px; line-height:16px; }
.con .l .video .vid dl.v dd a { width:110px; height:25px; background:#3466bb; text-align:center; color:#fff; font-size:14px; top: 4px; right:0; line-height:25px; display:block; position:absolute; }
.con .l .video .vid dl.v dd a:hover { text-decoration:underline; }
.con .l .video .vid dl.v { float:left; width:325px; }
.con .l .sumb { width:260px; position:relative; top:-25px; float:left; margin-left:15px; }
.con .l .sumb dl dt { height:24px; line-height:24px; margin-bottom:10px; text-align:center; color:#000033; font-size:14px; }
.con .l .sumb dl dt span { background:url(../../i/en/home/icon.jpg) repeat-x 0 -171px; ; float:left }
.con .l .sumb dl dt .il, .con .l .sumb dl dt .ir { background:url(../../i/en/home/icon.jpg) no-repeat -2px -115px; width:10px; height:24px; float:left }
.con .l .sumb dl dt .ir { background:url(../../i/en/home/icon.jpg) no-repeat -10px -143px; }
.con .l .sumb dl dd { font-size:14px; word-break:break-all; color:#333333; margin-bottom:20px; line-height:18px; }
.con .l .chWea { }
.con .l .chWea h1 { height:47px; line-height:10px; *line-height:47px;
text-indent:12px; font-size:20px; }
.con .l .chWea ul { }
.con .l .chWea ul li { background:#e1e8f5; width:283px; height:49px; font-size:16px; line-height:49px; padding:0 13px; float:left; }
.con .l .chWea ul li.c { background:#cdd9ee; }
.con .l .chWea ul li.ml { margin-left:10px; }
.con .l .chWea ul li.mt { margin-top:10px; }
.con .l .chWea ul li span { width:190px; display:inline-block; float:left; overflow:hidden; white-space:normal; text-overflow:ellipsis; _width:180px; }
.con .l .chWea ul li i { width:50px; display:inline-block; text-align:right; }
.con .l .chWea ul li img { width:37px; height:29px; margin-left:5px; }
.con .l .chWea p { color:#666; text-align:right; height:40px; line-height:40px; padding-right:5px }
.con .r { padding-left:10px; _padding-left:11px; float:left; }
.con .r .alarm { width:298px; height:80px; border:1px solid #ffcc00; margin-top:13px; overflow:hidden;}
.con .r .alarm h1 { font-size:16px; height:40px; line-height:40px; padding-left:9px; background:#ffcc00; cursor:pointer; }
.con .r .alarm h1 em { background:url(../../i/en/home/alarm.png) no-repeat; margin-right:15px; width:30px; height:26px; display:inline-block; margin-top:6px; float:left; }
.con .r .alarm h1 i { background:url(../../i/en/home/icon.jpg) no-repeat 0 -470px; height:19px; width:22px; margin-right:12px; margin-top:10px; float:right; }
.con .r .alarm h1 i.down { background:url(../../i/en/home/icon.jpg) no-repeat 0 -452px;}
.con .r .alarm ul { padding-top:1px; _padding-top:12px; }
.con .r .alarm ul li { text-indent:10px; height:35px; line-height:35px; padding-right:10px; *width:278px;
overflow:hidden; text-overflow:ellipsis; white-space:nowrap; font-size:14px; }
.con .r .alarm ul li img { margin-right:10px; }
.con .r .alarm p { text-align:right; margin-right:15px; font-size:14px; _margin-top:-6px }
.con .r .cheWea { margin-top:10px; }
.con .r .hot { margin-top:10px; width:298px; border:1px solid #9bb4dd; color:#3466bb; display:block; *height:266px;
_height:200px; }
.con .r .hot h1 { background:url(../../i/en/home/hot.jpg) no-repeat; height:39px; line-height:39px; color:#fff; font-size:18px; text-indent:55px }
.con .r .hot h1 a { color:#fff; }
.con .r .hot p { background:#cdd9ee; height:29px; line-height:29px; border-top:1px solid #a8bee2; }
.con .r .hot p i { margin-left:37px; }
.con .r .hot p span { margin-left:88px; }
.con .r .hot p em { margin-left:12px; }
.con .r .hot ul li { height:36px; line-height:36px; font-size:14px; border-bottom:1px solid #9BB4DD; }
.con .r .hot ul li span { width:166px; float:left; padding-left:8px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; }
.con .r .hot ul li i { width:37px; display:inline-block; float:left; }
.con .r .hot ul li ul.index { margin:13px 11px 0 0; position:relative; }
.con .r .hot ul li ul.index li { height:14px; width:15px; background-image:url(../../i/en/home/icon.jpg); background-repeat:no-repeat; float:left; border:none; }
.con .r .hot ul li ul.index li.ulbox { width:0; height:0; }
.con .r .hot ul li ul.index li.ulbox ul.on { position:absolute; left:0; top:0; width:80px; }
.con .r .hot ul li ul.index1 li { background-position:0 -216px; }
.con .r .hot ul li ul.index1 li ul.on { height:14px; }
.con .r .hot ul li ul.index1 li ul.on li { background-position:0 -200px; }
.con .r .hot ul li ul.index2 li { background-position:0 -251px; }
.con .r .hot ul li ul.index2 li .on li { background-position:0 -235px; }
.con .r .hot ul li ul.index3 li { background-position:0 -286px; }
.con .r .hot ul li ul.index3 li .on li { background-position:0 -269px; }
.con .r .hot ul li ul.index4 li { background-position:0 -319px; }
.con .r .hot ul li ul.index4 li .on li { background-position:0 -303px; }
.con .r .hot ul li ul.index5 li { background-position:0 -350px; }
.con .r .hot ul li ul.index5 li .on li { background-position:0 -335px; }
.con .r .ad { margin-top:10px; }
.con .conBgl, .con .conBgr { background-image:url(../../i/en/home/conBg.jpg); background-position:0 0; width:8px; height:1100px; position:absolute; left:-8px; top:0; }
.con .conBgr { background-position:-22px 0; left:100%; }
.footer .footerNav { margin-top:30px; background-color: #3466BB; color: #FFFFFF; display: block; height: 25px; line-height: 25px; margin-bottom: 10px; text-align: center; }
.footer .footerNav a{color:#fff;}
.footer .footerNav a:hover{ text-decoration:underline;}
.footer p { color: #020202; line-height: 18px; margin: 0; padding: 0; text-align: center }
.footer .copyIcp { background: url("http://www.weather.com.cn/m2/i/icp07.gif") no-repeat left top ; display: block; line-height: 43px; margin: 0 auto; padding-left: 38px; text-align: center; width: 560px; }
