*
   {
	margin: 0;
	padding: 0;
	list-style:none;
	font-weight:normal;
    }
a img
    {
	border:0px solid #dcdddd;
	}
body 
    {
    font-family: "Microsoft Yahei";
	background:#fff;
	color:#000;
	font-size:12px;
    font-style:normal;
	}
i 
    {
font-style:normal;
}
a 
    {
	color:#36B;
	text-decoration:none;
         font-size:12px;
         outline: medium none;
	}
a:hover
    {
	color:#F60;
	text-decoration:underline;
	}

:focus {
    -moz-outline-style:none;
}
ul.tabs li a {
	margin-right: 4px;
	height: 76px;
	margin: 0;
	line-height: 58px;
	font-weight: bold;
	font-size: 20px;
	color: #fff;
	font-family: "Microsoft YaHei";
}
ul.tabs li a.current {
	color: #01163c;
	font-family: "Microsoft YaHei";
	font-weight: bold;
	font-size: 20px;
}
ul.tabs {
	height: 76px;
	padding-left: 2px;
	width: 968px;
}
.wrape {
	width: 968px;
	margin: 0 auto;
	margin-top:234px;
 
}
.panes div {
	border: 1px solid #999;
	border-top: 0;
	font-size: 14px;
	background-color: #fff;
}
.panes div div {
	display: block;
}
.hg {
	text-align: left;
	clear: left;
	font-size: 20px;
	color: #003366;
	text-indent: 2em;
	width: 750px;
	font-family: "Microsoft YaHei";
	line-height: 50px;
	font-weight:700;
}
.t_z {
	display: none;
	clear: left;
	width: 100%;
	float: left;
}
.zuo {
	width: 700px;
	clear: left;
	float: left;
}
.tu {
	float: left;
	clear: left;
	width: 440px;
	height: 330px;
	padding-left: 5px;
	text-decoration:none
}
.tu img {
	width: 100%;
	height: 100%;
}
.tu {
	float: left;
	display: inline;
}
.bt {
	font-size: 14px;
	color: #003366;
	text-align: center;
	font-family: "Microsoft YaHei";
	font-weight: bold;
}
.bt a{
	font-size: 14px;
	color: #003366;
	text-align: center;
	font-family: "Microsoft YaHei";
	font-weight: bold;
}
.wen {
	float: right;
	display: inline;
	width: 215px;
}
.zy {
	color: #666666;
	font-size: 12px;
	line-height: 22px;
	margin-top: 40px;
	padding: 0 10px;
	text-indent: 2em;
}
.tu_2 {
	clear: left;
}
.zj_ts {
	font-size: 20px;
	color: #003366;
	line-height: 50px;
	text-indent: 0.5em;
	font-family: "Microsoft YaHei";
	font-weight:700;
}
.ts_tu {
	padding: 0 5px;
}
.ts_tu img {
	width: 100%;
}
body {
	 
	padding: 0;
	margin: 0;
	background: #01163c url(http://i.tq121.com.cn/i/topic/2014512fzjzr/beiJingTu.jpg);
	background-position: top center;
	background-repeat:no-repeat;
	
	 
	}
ul .b_1 a.current {
	background:url(http://i.tq121.com.cn/i/topic/2014512fzjzr/by.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	margin: 0;
	width: 226px;
}
ul .b_1 a {
	background: url(http://i.tq121.com.cn/i/topic/2014512fzjzr/by1.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	margin: 0;
	width: 226px;
}
ul .b_2 a.current {
	background: url(http://i.tq121.com.cn/i/topic/2014512fzjzr/by22.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	margin: 0;
	width: 232px;
}
ul .b_2 a {
	background: url(http://i.tq121.com.cn/i/topic/2014512fzjzr/by2.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	margin: 0;
	width: 232px;
}
ul .b_3 a.current {
	background: url(http://i.tq121.com.cn/i/topic/2014512fzjzr/by33.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	margin: 0;
	width: 258px;
}
ul .b_3 a {
	background: url(http://i.tq121.com.cn/i/topic/2014512fzjzr/by3.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	margin: 0;
	width: 258px;
}
ul .b_4 a.current {
	background: url(http://i.tq121.com.cn/i/topic/2014512fzjzr/by44.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	margin: 0;
	width: 252px;
}
ul .b_4 a {
	background: url(http://i.tq121.com.cn/i/topic/2014512fzjzr/by4.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	margin: 0;
	width: 252px;
}
.panes {
	position: relative;
}
.weibo {
	display: block;
	position: absolute;
	right: 5px;
}
.weibo span {
	display: block;
	margin-right:10px;
}
.weibo h1 {
	color: #003366;
	font-family: "Microsoft YaHei";
	font-size: 20px;
	line-height: 50px;
	font-weight:700;
}
.panes div {
	border: 0;
}
.sheji {
	color: #fff;
	font-size: 14px;
	font-family: "Microsoft YaHei";
	clear: both;
	position: relative;
	font-weight: bold;
	line-height:20px;
}
.sheji .right {
	position: absolute;
    right:0;
	 top:0;
}
.sheji .center {
	margin-left: 6em;
}
.bei_jing{ position:absolute; width:100%; top:0;}
.bei_jing img{ width:100%;}
.fanHuiShouYe {
	background: url("http://t1.weathertv.cn/img/qianShe.png") no-repeat scroll;
	border-style: none;
	bottom: 4em;
	display: none;
	height: 58px;
	position: fixed;
	right: 4em;
	width: 58px;
}
.fanHuiShouYe:hover {
	background: url('http://t1.weathertv.cn/img/shenShe.png') no-repeat scroll 0px 0px;
}
.biaoJi {
	font-size: 1px;
}
.tu a {
	display: block;
	height: 100%;
	background: url('http://t1.weathertv.cn/img/bei_jinTu.png');
	background-repeat: no-repeat;
	background-position: left top;
}
.tu a img {
	height: 318px;
	width: 440px;
	border:0;
}
.tu {
	margin-left: 20px;
	width: 450px;
	padding-left: 0;
}

}
.bt a {
	display: block;
	padding-right: 10px;
}
.wen p {
	padding-right: 10px;
}
.sheji .center {
	margin-left: 4em;
}
.biezheng {
	height: 60px;
    left: -8px;
    position: absolute;
    top: 32px;
    width: 60px;
	background: url('http://t1.weathertv.cn/img/bieZheng.png');
	background-repeat: no-repeat;
	background-position: left top;
	position:absolute;
}

.hezuo{
	color: #fff;
    font-family: "Microsoft YaHei";
    font-size: 14px;
    font-weight: bold;
	float:right;
	line-height::50px;
	
	}
.sheji span{ font-weight:bold;}