.content{width:1000px;margin:0 auto;background:url(../../i/indexfc/white_bg.png) repeat;}

header{padding:0px;margin:0px;width:100%;}
#topHeader{background-color:#fff;width:100%;}
#prompt{width:1000px;margin:0 auto;height:32px;line-height:32px;position:relative;}
#prompt ul{position:absolute;right:0px;top:0px;line-height:32px;}
#prompt ul li{float:left;padding-left:24px;}
#prompt ul li a{color:#1662a8;}
#prompt ul li a.yellow,#menus ul li a.yellow,#search #line1 span a,#search #line2 a.yellow{color:#ee842f;}
#menus{background-color:#f8f8f8;width:980px;margin:0 auto;padding:0px 10px;position:relative;}
#menus h1{background:url(../../i/indexfc/logo.jpg) no-repeat;width:140px;height:58px;}
#menus h1 a{display:block;width:140px;height:58px;text-indent:-9999px;}
#menus h2{position:absolute;left:150px;top:0px;background:url(../../i/indexfc/province.jpg) no-repeat;width:55px;height:58px;}
#menus h2 a{display:block;width:55px;height:58px;text-indent:-9999px;}
#menus ul{position:absolute;right:10px;top:0px;font-size:16px;}
#menus ul li{line-height:58px;float:left;padding-left:8px;}
#menus ul li a{color:#3f3f3f;}
nav{width:980px;text-align:center;font-size:12px;}
nav a{background-color:#1662a8;line-height:34px;padding:0px 3px;}

#linksbar{width:1000px;margin:0 auto;background-color:#fff;height:35px;line-height:35px;text-align:center;color:#1662a8;}
#linksbar a{color:#076ea8;padding:0px 3px;}

footer{padding:20px 0px;font-size:12px;width:1000px;margin:0 auto;}
footer p{text-align:center;line-height:20px;}
footer p.copyIcp{background:url(../../i/indexfc/index.png) no-repeat 0px -280px;padding-left:43px;height:43px;line-height:43px;display:block;width:480px;margin:0 auto;}
footer p span{color:#076ea8;padding:0px 5px 0px 0px;}

.icons{position:absolute;left:50%;margin-left:500px;top:75px;width:65px;}
.icons ul li{width:65px;height:70px;margin-bottom:5px;background:#076ea8 url(../../i/indexfc/icons.jpg) no-repeat;}
.icons ul li.icon1{background-position:23px 8px;}
.icons ul li.icon2{background-position:-38px 8px;}
/*.icons ul li.icon3{background-position:-105px 8px;}*/

.icons .province{background:url(../../i/indexfc/province.gif) no-repeat;}
.icons .ah{background-position:-260px -70px;}
.icons .bj{background-position:0px 0px;}
.icons .cq{background-position:-195px 0px;}
.icons .fj{background-position:-325px -70px;}
.icons .gs{background-position:-195px -210px;}
.icons .gd{background-position:-260px -140px;}
.icons .gx{background-position:-390px -210px;}
.icons .gz{background-position:0px -210px;}
.icons .hainan{background-position:-325px -140px;}
.icons .hebei{background-position:-260px 0px;}
.icons .hlj{background-position:-65px -70px;}
.icons .henan{background-position:-65px -140px;}
.icons .hubei{background-position:-130px -140px;}
.icons .hunan{background-position:-195px -140px;}
.icons .js{background-position:-130px -70px;}
.icons .jx{background-position:-390px -70px;}
.icons .jl{background-position:0px -70px;}
.icons .ln{background-position:-390px 0px;}
.icons .nmg{background-position:0px -280px;}
.icons .nx{background-position:-130px -280px;}
.icons .qh{background-position:-260px -210px;}
.icons .sd{background-position:0px -140px;}
.icons .sh{background-position:-130px 0px;}
.icons .shanxi{background-position:-325px 0px;}
.icons .shaanxi{background-position:-130px -210px;}
.icons .sc{background-position:-390px -140px;}
.icons .tj{background-position:-65px 0px;}
.icons .xj{background-position:-195px -280px;}
.icons .xz{background-position:-65px -280px;}
.icons .yn{background-position:-65px -210px;}
.icons .zj{background-position:-195px -70px;}
.icons .mo{background-position:-325px -280px;}
.icons .xg{background-position:-260px -280px;}
.icons .tw{background-position:-325px -210px;}
/*.icons .province a{text-indent:-9999px;}*/


.icons ul li.icon4{background-position:-190px 10px;}
.icons ul li a{color:#fff;display:block;width:65px;text-align:center;height:30px;line-height:30px;padding-top:40px;}
.icons ul li a:hover{color:#fff;}
.icons ul.products li{background:#58bce6 url(../../i/indexfc/icons2.jpg) no-repeat;}
.icons ul.products li.icon1{background-position:23px 8px;}
.icons ul.products li.icon2{background-position:-55px 8px;}
.icons ul.products li.icon3{background-position:-134px 8px;}
.adposter_6217{width:300px;height:250px;overflow:hidden;}