@charset "utf-8";
/* CSS Document */
body
{
	background:url(../../i/jt/background.jpg) repeat-x #fff;}
	

#nav .bg {
    height: 80px;
    width: 1009px;
}
#nav{
    border: 0 none;
    height: 80px;
    margin: 0 auto;
    padding: 0;
    position: static;
    width: 100%;
}
.map
{
	
	height:519px;}
.jtt
{
	width:752px;
	height:519px;
	overflow:hidden;
	float:left;}
.cx
{
	float:right;
	width:223px;}
.jtcx h1
{
	background:#03192e;
	height:31px;
	line-height:31px;
	font-size:16px;
	color:#fff;
	text-indent:9px;}
.jtcx 
{
	height:285px;
	background:#d3eaf4;
	border-bottom:1px dashed #000;}
.jtleft
{
	width:670px;
	float:left;}
.footer
{
	clear:both;}
.jtright
{
	width:300px;
	float:right;}
.sidetab .tabs li a
{
	background:#969696;}
.infoblock1 h3
{
	padding-left:20px;}
	
.mask{
	width:670px;
	overflow:hidden;
	position:relative
}
.tabs_content{
	overflow:hidden;
	position:relative
}
.tabs_Item{
	width:670px;
	background:url(../../i/indexfc/white_bg.png) repeat;
	padding-right:0;
	padding-left:5px;
	padding-bottom:10px;
	position:relative;
	overflow:hidden
}
.tabs_Item h3{
	font-size:20px;
	line-height:45px;
	hieght:45px;
	border-bottom:3px solid #076ea8;
	margin-bottom:10px;
	position:relative;
	width:320px;
	font-weight:normal
}
.tabs_Item h3 span{
	position:absolute;
	line-height:45px;
	right:10px;
	top:0
}
.tabs_Item h3 span a{
	color:#076ea8font-size:14px
}
.tabs_Item figure{
	width:320px;
	height:77px;
	position:relative
}
.tabs_Item figure img{
	width:100px;
	height:75px;
	border:1px solid #959595
}
.tabs_Item figure figcaption{
	position:absolute;
	width:208px;
	height:77px;
	right:0;
	top:0;
	font-size:14px;
	font-weight:bold;
	vertical-align:middle
}
.tabs_Item figure figcaption p{
	font-weight:normal;
	line-height:18px
}
.tabs_Item ul{
	width:320px;
	background-color:#ebebeb;
	margin-top:10px
}
.tabs_Item ul li{
	height:25px;
	line-height:25px;
	padding:0 10px;
	width:300px;
	border-bottom:1px solid #fff
}
.tabs_Item aside{
	position:absolute;
	top:0;
	right:10px
}
.tip
{
	height:255px;
	padding:5px;
	background:#ececec;
	margin-top:10px;}
.jtcx h2
{
	font-size:16px;
	padding-top:10px;
	padding-left:10px;}
.jtcx h2 img
{
	margin-right:10px;}
.hoth h1
{
	font-weight:bold;
	padding-left:10px;
	height:45px;
	line-height:45px;
	font-size:16px;}
.hoth ul li a
{
	font-size:12px;}
.hoth ul li
{
	padding-left:10px;}
.hoth ul
{
	margin-bottom:20px;}
.yz
{
	background:#076ea8;
	width:190px;
float:left;
	height:255px;}
.yz ul li 
{
	color:#fff;
	line-height:26px;
	text-align:center;
	font-size:14px;}
.yz ul li span
{
	font-size:22px;
	font-weight:bold;}
.cxtp ul 
{
	margin-right:5px;
	background:#076ea8;
	width:150px;
	float:left;
	height:220px;}
.cxtp
{
	width:465px;
	float:right;}
.cxtp ul li
{
	text-align:center;
	color:#fff;
	width:115px;
	font-size:16px;
	line-height:50px;
	height:50px;
	margin:0 auto;
	}
.cxtp p
{
	height:35px;
	line-height:35px;}
.cxtp ul li span
{
	font-size:22px;
	font-weight:bold;
	}
.cbox
{
	float:left;
	position:relative;
	background: #dfebf7;
}
.dbox
{
	width:1009px;
	overflow:hidden;
	margin: 0 auto;
}
.dbox .cbox .citysearch .locationSearch .iframeDiv .sel select{
    background-color: #FFFFFF;
    float: left;
    height: 18px;
    line-height: 20px;
    margin-right: 6px;
    margin-top: 2px;
    text-align: center;
    width: 80px;
}

.citysearch .btn {
    background: none repeat scroll 0 0 #49B5E4;
    color: #FFFFFF;
    float: left;
    height: 18px;
    margin-top: 2px;
    width: 53px;
}
nav{
position:static;

}
nav h1{
margin-left: 10px;
}
nav .dropList
{
z-index:100;}


.yjbar .alarm {
    height: auto;
}


.yjbar .alarm h1 {
    background: url("/m2/i/alarm08.gif") no-repeat scroll 7px 5px #FEF1AB;
    border: 1px solid #FBCE01;
    color: #000000;
    display: block;
    font-size: 12px;
    font-weight: bold;
    height: 28px;
    line-height: 28px;
    margin-bottom: 2px;
    padding-left: 35px;
}

.yjbar .alarm h1 span {
    color: #3367BD;
    font-weight: bold;
    padding-left: 10px;
}


.yjbar .alarm h1 span a {
    font-weight: bold;
}

.yjbar .alarm dl {
    height: 30px;
    overflow: hidden;
}

.yjbar .alarm dl dt {
    height: 30px;
}

.yjbar .alarm dl dt a {
    color: #3366BB;
    font-size: 12px;
    outline: medium none;
    text-decoration: none;
}

.gjalarmflip dl dt img {
    margin-top: 2px;
}

.alarm dl dd {
    height: 30px;
    line-height: 30px;
    padding-top: 0;
}

.alarm dl h2 {
    height: 30px;
    line-height: 30px;
}
.alarm dl h2 a {
    font-size: 12px;
    font-weight: normal;
}
.alarm dl dd b {
    color: #CC0000;
    padding-right: 8px;
}

.alarm dl dd a {
    color: #3366BB;
    font-size: 12px;
    outline: medium none;
    text-decoration: none;
}


#alarm h2{font-size:12px;height:34px;line-height:34px;background-color:#fffac2}
#alarm h2 i{display:block;float:left;background:url(../../i/index/index_icons.png) no-repeat -42px -110px;width:34px;height:34px;margin-right:10px}
#alarm h2 b{color:#ee842f}
#alarm p{font-size:12px;height:34px;line-height:34px;background-color:#bdeafd;overflow:hidden}
.knowledge dl dt p{width:200px}
#alarm p span{display:block}
#alarm p a{display:block;width:250px;height:34px;line-height:34px;padding-left:50px}