@charset "utf-8";
/* CSS Document */
* { margin: 0; padding: 0; list-style:none; font-weight:normal; }
a img { border:0px solid #dcdddd; }
/*@font-face { font-family: myFirstFont; src: url('DroidSansFallback.ttf'); }*/
body { font-family: 'XinGothic-SinaWeibo', 'Microsoft Yahei', 'helvetica', 'arial'; background:#fff; color:#4d4d4d; font-size:14px; font-style:normal; }
i { font-style:normal; }
a { color:#807d7d; text-decoration:none; font-size:14px; outline: medium none; }
a:hover { color:#F60; text-decoration:underline; }
.wrap { width:100%; }
.head { line-height:55px; overflow:hidden; display:block; height:55px; background:#f4f5f6; margin-bottom:10px; width:100%; }
.logo { float:left; background:url(http://i.tq121.com.cn/i/mobile/images/logo.jpg) no-repeat; width:128px; height:55px; }
.net { padding-right:10px; float:right; }
.net a { color:#a3a3a4; font-size:150%; }
.yj { height:30px; margin-bottom:10px; padding:0px 10px; clear:both; }
.yj p a { color:#eb982c; font-size:16px; }
.yj span { float:right; }
.yj span a { color:#807d7d; }
.yj_box { height:auto; float:left; width:100%; border-bottom:1px solid #4676c9; }
.yb_b { width:95%; margin:0 auto; }
.per_3h { clear:both; }
.per_3h h1 { height:30px; margin:10px 0px; text-indent:10px; line-height:30px; margin-bottom:0; font-size:20px; }
.per_3h ul li { clear:both; padding:10px 5px; font-size:18px; text-indent:5px; }
.per_3h ul li span { padding-right:7px; display:block; overflow:hidden; float:right; }
.per_3h ul li i { float:left; width:25%; text-align:center; }
.per_3h ul li i img { position:relative; top:-5px; margin-left:5px; }
.per_3h ul li b { float:left; width: 40%; }
.nav { clear:both; }
.nav ul li a { font-size:18px; }
.nav ul li { width:28%; margin-right:5%; height:40px; line-height:40px; float:left; text-align:left; }
.down { cursor:pointer; border-top:1px solid #4676c9; clear:both; padding-top:10px; height:15px; margin-top:15px; background:url(http://i.tq121.com.cn/i/mobile/images/san.jpg) no-repeat top center; }
.nav ul { width:90%; margin:0 auto; margin-left:9%; }
.footer { clear:both; padding-top:30px; }
.footer p { color:#807d7d; text-align:center; font-size:16px; margin-bottom:10px; }
.footer p a { font-size:16px; }
.per_3h	.title,.per_3h .hours3{display:none}
.per_3h ul li.move { display:none; }
.per_3h ul { float:left; padding-bottom:10px; width:100%; }
.pic_yb { float:left; padding-right:0%; width:40%; text-align:left; }
.yb_you { width:60%; float:right; }
.yb_you p { color:#4a7bce; line-height:auto; font-size:30px; }
.yb_you p span { font-size:20px; display:block; height: 23px; }
.yb_you h1 { color:#4a7bce; font-size:40px; font-weight:bold; }
.yb_you h1 a { color:#4a7bce; font-size:40px; font-weight:bold; }
.yb_you p.mid { margin-bottom:10px; }
.fx { position:relative; height:28px; padding-top:10px; line-height:28px; clear:both; }
.fx a { font-size:19px; margin-right:10px; }
.fx a img { position:relative; top:5px; margin-right:5px; width:25px; }
.fx a.fen { height:38px; float:left; margin-left:10px; display:inline; }
.fx span { float:right; }
.bdsharebuttonbox { left: 15px; position: absolute; top: 10px; z-index: 100; }
.di { display:none; }
.per_3h .move { display:block; }
.dii { display:block; }
.title { font-size:25px; color:#4a7bce; overflow: hidden; border-bottom:1px solid #4676c9; height:50px; line-height:50px; position:relative; text-align:center; margin-bottom:10px; }
.title a img { width:100%; }
.title a.pre { position:absolute; left:10px; top:10px; width:30px; }
.title a.home { right:10px; top:10px; position:absolute; width:30px; }
.yb_l dl { margin-bottom:10px; border-bottom:1px solid #4676c9; }
.yb_l dl dt { margin-bottom:10px; text-indent:10px; font-size:20px; }
.yb_l dl dd { margin-left:5%; }
.yb_l dl dd table tr td { padding:5px 0px; text-align:center; font-size:16px; }
.yb_l dl dd table tr td img{width: 53px;}
.top { clear:both; border:1px solid #4676C9; border-top:0; width:100px; height:30px; line-height:30px; margin:0 auto; text-align:center; position:relative; top:-10px; color:#7498d7; font-weight:bold; }
.hours3 { margin-left:10px; }
.hours3 table { margin:0 auto; margin-bottom:20px; }
.hours3 table tr td { vertical-align:top; font-size:16px; }
.hours3 table tr td img { width:30px; float:left; }
.hours3 table tr td.t { font-size: 20px; padding-bottom:5px; margin-bottom: 10px; color:#4676ca; }
.hours3 .line { border-top:1px solid #4775ca; text-align:right; height:30px; line-height:30px; padding-right:20px; }
.line { clear:both; border-top:1px solid #4775ca; text-align:right; height:30px; line-height:30px; padding-right:20px; }
.weekday table tr td { padding-bottom:10px; }
.weekday table { margin-bottom:10px; }
.xgzs h1 { color:#4777c9; font-size:20px; margin-left:10px; border:1px solid #4777c9; width:100px; margin-bottom:15px; text-align:center; border-radius:5px; }
.xgzs dl { width:95%; clear:both; margin:0 auto; height:70px; padding-bottom:25px; }
.xgzs dl dt { width:25%; overflow:hidden; float:left; }
.xgzs dl dd { font-size:16px; width:70%; float:right; }
.xgzs dl dd span { color:#4777c9; font-size:20px; padding-top:0px; margin-bottom:5px; display:block; }

#circle { clear: both; float:right; width: 40px; text-align:center; line-height:30px; margin-right:10px; height: 40px; border:1px solid #8d8b8c; -moz-border-radius: 50px; -webkit-border-radius: 50px; border-radius: 50px; margin-bottom:10px; }
.hours3 table tr td.t span { border: 1px solid #4777C9; border-radius: 5px; padding:2px 10px;  }
.list { width:97%; margin:0 auto; height:30px; margin-bottom:20px; border:1px solid #4676c9; border-radius:5px; line-height:30px; }
.list a { display:block; font-size:14px; float:left; border-right:1px solid #4676c9; width:14%; text-align:center; }
.list a.move { background:#4676c9; color:#fff; }
.lines { height:10px; }
.content { width:90%; margin:0 auto; }
.content h1 { color:#4c7cd0; margin-bottom:15px; font-size:20px; text-align:left; }
.content h2 { margin-bottom:15px; color:#4c7cd0; font-size:18px; text-align:center; clear:both; }
.content h3 { margin-bottom:10px; color:#4c7cd0; font-size:18px; height:30px; line-height:30px; text-indent:45px; position:relative; }
.content h3 img { left:0; top:0; position:absolute; }
.content p { font-size:16px; margin-bottom:15px; line-height:25px; }
.biaoz { height:100px; border:1px solid #4c7cd0; margin-bottom:15px; border-radius:5px; text-indent:31px; font-size:16px; padding-top:10px; line-height:25px; padding:5px; position:relative; }
.biaoz i { left: -26px; position: absolute; top: 6px; }
.aqi { background:url(http://i.tq121.com.cn/i/mobile/images/air.jpg) no-repeat top center; background-size:70%; height:280px; text-align:center; width:320px;color:#487dcd; position:relative; margin:0 auto; }
.aqi span { font-size:40px; display:block; }
.aqi b{ display:block; font-size:70px; padding-top:33px;}
/*#sec
{
	height: 206px;
    left: 145px;
    position: absolute;
    top: 13px;
	
	background: url(http://i.tq121.com.cn/i/mobile/images/sechand.png) no-repeat center top;
    width: 30px;}
#sec {
        	
        	z-index: 3;
           	}*/
			
			
.op_pm25_i { height: 202px; left: 145px; position: absolute; top: 13px; background: url(http://i.tq121.com.cn/i/mobile/images/sechand.png) no-repeat center top; width: 30px; }
.op_pm25_i { z-index: 3; }
.hotcity
{
	width:95%;
	margin:0 auto;
	
	}
.hotcity h1
{
	font-weight:bold;
	font-size:16px;
	border-bottom:1px solid #4b7bcf;
	color:#497bd0;
	text-indent:10px;
	height:30px;
	line-height:30px;
	}
.hotcityb
{
	
	margin:0 auto;
	width:100%;
	margin-bottom:10px;
	border:1px solid #4b7bcf;
	float:left;}
.hotcity ul li
{
	height:30px;
	line-height:30px;
	width:70px;
	float:left;}
.hotcity ul li a
{
	display: block;
	font-weight:bold;
	font-size:16px;}
.hotcity ul
{
	text-align:center;}
.hotcity p
{
	height:30px;
	line-height:30px;
	text-align:center;}
.hotcity p a
{
	padding:10px;
	font-weight:bold;
	font-size:16px;}
.search
{
	margin:0 auto;
	width:95%;
	font-size:16px;
	margin-bottom:10px;
	border:1px solid #4b7bcf;
	height:50px;}
.search input
{border:none;
float:left;
	width: 70%;
	height:50px;
	line-height:50px;
	padding-left:10px;
	font-size: 14px;
	color:#929090;
	line-height:50px;
	}
.search img
{
	float:left;}
.cityman
{
	width:100%;}
.cityman ul li
{
	float:left;
	width:20%;
	margin-left:4%;
	height:60px;
	padding-top:20px;
	margin-bottom: 20px;
	vertical-align:middle;
	border:1px solid #4b7bcf;
	text-align:center;
	position: relative;
}
.cityman ul li a
{
	color:#4d4d4d;
	display: block;
	height: 46px;
    overflow: hidden;
	font-size:18px;}
.cityman ul li img{

	display: none;
	 position: absolute;
    right: -11px;
    top: -11px;
    width: 25px;
}
.citylist
{
	margin:0 auto;
	width:95%;}
.citylist ul li
{
	height:45px;
	border-bottom:1px solid #e3dcdd;
	text-indent:10px;
	line-height:45px;}
.citylist ul li a
{
	font-size:16px;
	color:#717171;}
.xiaban h1
{
	font-size:16px;
	height:50px;
	line-height:50px;
	text-indent:10px;
	font-weight:bold;}
.content h1 dl
{
	width:80%;
	margin:0 auto;}
.content h1 dl dt
{
	width:80%;
	float:left;}
.content h1 dl dd
{
	width:20%;
	float:right;}
/*指数滑动*/
.box-163css { width:100%; overflow:hidden; position:relative;  }
.box-163css .next { float:right; }
.piclist { position:relative; -webkit-transition: left 600ms ease-out; width:2232px; left:0; }
.piclist li { display:table-cell; width:100%; height: auto; position:relative; float: left; vertical-align: top; color:#000000; }
.piclist li em { display:block; width:100%; position:absolute; z-index:10; height:32px; background:#333; left:0; top:170px; opacity:0.5; }
.piclist li a img { height:200px; width:100%; border:none; }
.piclist li strong { position:absolute; z-index:11; height:32px; left:0; top:170px; padding-left:10px; line-height:32px; color:#fff; font-size:14px; }
.swipe { margin-bottom:0px; overflow: hidden; visibility: visible; list-style: none; position: relative; width:100%; }
#slider4 ul { -webkit-transition:left 800ms ease-in 0; -moz-transition:left 800ms ease-in 0; -o-transition:left 800ms ease-in 0; -ms-transition:left 800ms ease-in 0; transition:left 800ms ease-in 0; }
.arrdiv { position:absolute; top:5px; width:20%; right:2%; z-index:12; }
.arrdiv b { display:block; background:url(../images/arrow.png) no-repeat; width:17px; height:28px; cursor:pointer; text-indent:-999em; }
.arrdiv .pre { float:left; background-position:-7px 0px; }
.arrdiv .next { float:right; background-position:-37px 0px; }
.per_3h ul li i img { width:27px; }

.di a
{
	display:block;
	text-align:center;
	clear:both;}
.redown
{
	border-top:0;
	background:url(http://i.tq121.com.cn/i/mobile/images/up.jpg) no-repeat center 11px;
	border-bottom:1px solid #4676C9;
	
	}
.op_pm25_des{width: 90%; margin: 0 auto;}
.yb_you h1 a#aqii
{
	font-size:14px;
	font-weight:bold;
	padding:2px 3px;
	background:#e0edf6;}
@media screen and (max-width:320px) {

.head { height:30px; line-height:30px; }
.logo { background:url(http://i.tq121.com.cn/i/mobile/images/logo_320.jpg) no-repeat; }
.net a { font-size:14px; }
.yb_you h1 { font-size:30px; }
.yb_you p span { font-size:16px; }
.yb_you p { font-size:24px; }
.fx a { font-size:14px; }
.per_3h ul li b { font-size:16px; }
.per_3h h1 { font-size:16px; }
.per_3h ul li span { font-size:16px; }
.per_3h ul li i img { width:27px; }
.nav ul li a { font-size:16px; }
.footer p a { font-size:12px; }
.footer p { font-size:12px; }
.fx a img { width:20px; }
}
@media screen and (min-width:321px) and (max-width:480px) {
.per_3h ul li i img { width:27px; }
}
@media screen and (min-width:481px) and (max-width:640px) {

}


.threeHours .title,.threeHours .hours3{display: none;}
