body{height:1837px;background:#051D37;padding:0px;margin:0px;border:0;font: 14px/1.6 "Microsoft Yahei","Tahoma","SimSun";}
*{padding:0px;margin:0px;border:0;}
ul{list-style:none;}
a{text-decoration:none;color:#252525;}
a:hover{color:#ee842f;}
.clear{clear:both;height:0px;overflow:hidden;}
.clearfix{zoom:1}
.clearfix:after{content:".";display:block;clear:both;visibility:hidden;height:0;}
.box{margin:0 auto;width:960px;}

.top{background:url(http://localhost/source/i/tqzt_pandian/topbg.jpg) repeat-x;height:34px;}
.top .logo{background:url(http://localhost/source/i/tqzt_pandian/logo.jpg) no-repeat;float:left;width:131px;height:34px;}
.top ul{float:right;widht:636px;line-height:34px}
.top ul li{float:left;}
.top ul li a{padding:2px;}

.content{background:#;}
.content .banner{background:url(http://localhost/source/i/tqzt_pandian//banner.jpg) no-repeat;height:224px;display:block;}
.content .bannerBottom{background:url(http://localhost/source/i/tqzt_pandian/bannerBottom.jpg) no-repeat;height:29px;display:block;}
.content .pdShow{position:relative;height:853px;}
.content .pdShow a{position:absolute;}
.content .pdShow .img1{top:0px;left:3px;}
.content .pdShow .img2{top:0;left:254px;}
.content .pdShow .img3{top:0;left:490px;}
.content .pdShow .img4{top:217px;left:254px;}
.content .pdShow .img5{top:217px;left:729px;}
.content .pdShow .img6{top:435px;left:0;}
.content .pdShow .img7{top:435px;left:472px;}
.content .pdShow .img8{top:654px;left:0;}
.content .pdShow .img9{top:438px;left:729px;}
.content .blog{background:#fff;margin-top:20px; height:456px;}
.content .blog h1{padding-top:6px;border-bottom:2px solid #f0421d;}
.content .blog h1 span{float:left;display:block;height:65px;}
.content .blog .sinablog{display:block;}
.content .blog .tqblog{display:none;}

.foot{height:22px;line-height:22px;margin-top:17px;color:#fff;}
.foot dl dt{float:left;margin-left:14px;}
.foot dl dd{float:left;margin-left:12px;}
.foot dl dd a{color:#fff;}
.foot dl dd a:hover{text-decoration:underline;}
