@charset "utf-8";
/* CSS Document */
/*国内 liu*/
body { background:#fff;}
.con .conBgl, .con .conBgr { background-image:url(../../i/english/cityInfo/conBg.jpg); }

.con .left { width:640px; }
.con .left .cityName { height:69px; background:#e2ecf7; }
.con .left .cityName ul { padding-left:7px; }
.con .left .cityName ul li { float:left; height:30px; line-height:30px; }
.con .left .cityName ul li a { color:#2e51a5; margin:0 5px; }
.con .left .cityName h1 { font-size:24px; overflow:hidden; font-weight:bolder; height:40px; line-height:40px; float:left; width:170px; text-indent:22px; }
.con .left .cityName span { height:40px; cursor:pointer; color:#3466bb; line-height:40px; display:inline-block; width:152px; font-size:18px;text-align:center; }
.con .left .cityName span a{ height:100%; width:100%; display:block;color:#3466bb;}
.con .left .cityName span a:hover{ color:#3466bb;}
.con .left .cityName span.on { background:#fff; color:#000; }
.con .left .cityName span.on a{color:#000; }
.con .left .alarm {padding-left:9px; display:none; margin-top:11px; margin-left:11px; height:33px; border:1px solid #ffd02c; background:#ffe795; }
.con .left .alarm em { background:url(../../i/english/alarm/alarm.png); float:left; width:30px; height:26px; margin-top:3px; }
.con .left .alarm strong {float:left text-indent:15px; line-height:33px; width:202px; float:left; text-indent:10px; overflow:hidden; height:33px; }
.con .left .alarm i { background:url(../../i/english/alarm/alarm.jpg); margin-top:6px; float:left; width:25px; height:21px; }
.con .left .alarm span { text-indent:13px; line-height:33px; float:left; height:33px; width:350px; overflow:hidden; }
.con .left .alarm img { margin-top:7px;}
.con .left .act { display:none; text-align:center; margin-left:11px; margin-top:11px; color:#fff;}
.con .left .act li { float:left; padding-top:16px; height:288px;}
.con .left .act li.sk { background:#2e51a5; width:200px; position:relative; }
.con .left .act li.sk h1 { height:20px; line-height:20px; font-size:20px; }
.con .left .act li.sk img { width:110px; margin:0 auto; }
.con .left .act li.sk p { }
.con .left .act li.sk .tem { font-size:20px; }
.con .left .act li.sk .tem i { font-size:60px; line-height:50px; }
.con .left .act li.sk .tem em { line-height:25px; vertical-align:top; }
.con .left .act li.sk .wea { font-size:20px; padding-top:0px; }
.con .left .act li.sk .felike { color:#bccde8; font-size:12px; line-height:12px; }
.con .left .act li.sk .felike i { font-size:18px; margin-left:3px; }
.con .left .act li.sk .num { padding-top:5px; }
.con .left .act li.sk .num span { font-size: 12px; line-height: 14px; padding-left: 20px; }
.con .left .act li.sk .num .n1 { background: url("../../i/english/cityInfo/icon.png") no-repeat 0 -1px; padding-right: 14px; }
.con .left .act li.sk .num .n2 { background: url("../../i/english/cityInfo/icon.png") no-repeat scroll 0px -18px; padding-left: 21px; }
.con .left .act li.sk .cityAlarm{ display:none; background:url(../../i/english/alarm/cityAlarm.png);_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://i.tq121.com.cn/i/english/alarm/cityAlarm.png"); width:27px;height:27px; position:absolute; top:56px; left:123px;}
.con .left .act li.sk a{ background:#ffd02c; height:26px; line-height:26px; width:180px; display:block; margin:5px auto; cursor:pointer;}
.con .left .act li.sk a:hover{ color:#252525; background:#EFC01C}
.con .left .act li.yb { background:#f0f5fb;  width:142px; padding-top:16px; color:#2e51a5; border-left:1px solid #e9f1f9; }
.con .left .act li.yb h1 { font-size:20px; line-height:22px; }
.con .left .act li.yb h2 { font-size:14px; line-height:14px; padding-top:7px; font-weight:normal;}
.con .left .act li.yb img { margin-top:9px; }
.con .left .act li.yb .wea { font-weight:bold; line-height:50px; font-size: 14px; }
.con .left .act li.yb .tem { font-size:18px; }
.con .left .act li.yb .tem span { color:#999; font-size:12px; vertical-align:bottom; padding-right:5px; line-height:36px; }
.con .left .act li.yb .tem i { font-size:30px; }
.con .left .act li.yb .tem em { font-size:18px; vertical-align:top; line-height:30px; }
.con .left .act li.yb .felike { color:#3466bb; }
.con .left .act li.yb .felike i { font-size:18px; margin-left:3px; }
.con .left .act li.yb .num  { padding-top:5px; }
.con .left .act li.yb .num span { font-size: 12px; padding-left: 16px; height:12px; color:#a7bde1; background:url(../../i/english/weaIcon/fx/fx.png) no-repeat; }
.con .left .act li.yb .num .n1 { background: url("../../i/english/cityInfo/icon.png") no-repeat scroll 0px -32px;_background: url("../../i/english/cityInfo/icon.png") no-repeat scroll 0px -30px; padding-right: 7px; }
.con .left .act li.yb .num .n2 { background: url("../../i/english/cityInfo/icon.png") no-repeat scroll 0px -50px;_background: url("../../i/english/cityInfo/icon.png") no-repeat scroll 0px -48px; padding-left: 19px; }
.con .left .act li.yb .num span.n{ background-position: 0px -32px;}
.con .left .act li.yb .num span.ne{background-position: 0px -56px;}
.con .left .act li.yb .num span.e{background-position: 0px -9px;}
.con .left .act li.yb .num span.nowind{background-position: 0px -80px;}
.con .left .act li.yb .num span.nw{background-position: 0px -104px;}
.con .left .act li.yb .num span.s{background-position: 0px -128px;}
.con .left .act li.yb .num span.se{background-position: 0px -155px;}
.con .left .act li.yb .num span.sw{background-position: 0px -182px;}
.con .left .act li.yb .num span.w{background-position: 0px -208px;}





.con .left .livIndex{ background:#3466bb; display:none; margin-top:11px; margin-left:11px; color:#fff;}
.con .left .livIndex h1{ height:40px; padding-right:10px; border-bottom:1px solid #688DCC;}
.con .left .livIndex h1 span{ float:left; width:200px;  font-size:20px;text-indent:15px;line-height:40px; }
.con .left .livIndex h1 a{ color:#809fd4; margin-top:10px; font-size:16px; width:90px; float:right; height:23px; text-align:center;}
.con .left .livIndex h1 a.on{ background:#ffd02c; color:#2e51a5; text-decoration:none;}
.con .left .livIndex ul{padding:0 10px;}
.con .left .livIndex ul li{ float:left; cursor:pointer; position:relative; width:190px; height:105px; padding:18px 0 18px 10px;*padding:18px 0 7px 10px;*height:116px; border-bottom:1px solid #688dcc;}
.con .left .livIndex ul li h2{ font-size:16px; height:26px; line-height:14px; *margin-top:0px; font-weight:normal;}
.con .left .livIndex ul li .m{ height:70px; width:100%; border:none; }
.con .left .livIndex ul li .m a{ background-image:url("../../i/english/cityInfo/index.jpg"); width:70px; height:52px; float:left; margin-top:8px;}
.con .left .livIndex ul li .m span{ float:left; font-size:20px; display:table; height:100%;width:110px; *position:relative;}
.con .left .livIndex ul li .m span i{ vertical-align:middle;line-height:19px; display:table-cell; *position:absolute; *top:10px;}
.con .left .livIndex ul li p{font-size:12px; line-height:14px; height:14px; width:100%; overflow:hidden;}
.con .left .livIndex ul li .mouseOn{ overflow: hidden; background:#2e51a5; display:none; padding:10px; font-size:14px; line-height:18px; position:absolute; left:0; top:0; width:180px; height:120px;}
.con .left .livIndex ul li div{ border-right:1px solid #688dcc}
.con .left .livIndex .li3 div,.con .left .livIndex .li6 div,.con .left .livIndex .li9 div,.con .left .livIndex .li12 div,.con .left .livIndex .li15 div,.con .left .livIndex .li18 div{border:none}
.con .left .livIndex ul .li1 .m a{ background-position:0px -606px;}
.con .left .livIndex ul .li2 .m a{ background-position:1px -1543px;}
.con .left .livIndex ul .li3 .m a{ background-position:-9px -994px;}
.con .left .livIndex ul .li4 .m a{ background-position:-5px -837px;}
.con .left .livIndex ul .li5 .m a{ background-position:-3px -421px;}
.con .left .livIndex ul .li6 .m a{ background-position:-4px -1822px;}
.con .left .livIndex ul .li7 .m a{ background-position:-8px -487px;}
.con .left .livIndex ul .li8 .m a{ background-position:-2px -1223px;}
.con .left .livIndex ul .li9 .m a{ background-position:1px -81px;}

.con .left .hour6{ margin-top:11px; display:none;text-align:center;}
.con .left .hour6 li{ background:#e2ecf6;margin-left:8px;_margin-left:6px;float:left;color:#3564bc; border:1px solid #e2ecf6; width:150px; height:281px;}
.con .left .hour6 li h1{background:#f7fbfe;height:59px; }
.con .left .hour6 li h1 p{ font-size:20px; height:40px; line-height:40px;}
.con .left .hour6 li h1 i{ display:block; font-size:14px; line-height:14px; height:14px;}
.con .left .hour6 li img{ margin:0 auto; display:block; width:80px; height:80px;}
.con .left .hour6 li p.wea{line-height:44px; font-weight:bold; }
.con .left .hour6 li p.tem span{ font-size:12px; margin-right:5px; line-height:47px; padding-right:5px; vertical-align:bottom;}
.con .left .hour6 li p.tem i{ font-size:30px; font-weight:normal; line-height:46px;}
.con .left .hour6 li p.tem em{ font-size:18px; line-height:36px; vertical-align:top;}
.con .left .hour6 li p.temLow{ height: 30px; margin-top: -10px;}
.con .left .hour6 li p.temLow span{line-height: 43px; margin-right:5px;}
.con .left .hour6 li p.temLow i{font-size: 18px; margin-right: 2px; display: inline;}
.con .left .hour6 li p.temLow em{line-height: 47px; display: inline;}
.con .left .hour6 li p{ line-height:23px;}
.con .left .hour6 li p i{ font-size:18px; font-weight:bold;}
.con .left .hour6 li p em{ font-size:18px; }
.con .left .hour6 li.on { background:#ffd02c; border:1px solid #ffd02c; color:#000;}
.con .left .hour6 li.on h1{ background:#ffe795;}

.con .left .day7 { }
.con .left .day7 h1 { line-height:45px; font-size:18px; }
.con .left .day7 h1 i { text-indent:20px; width:450px; display:inline-block; float:left; }
.con .left .day7 h1 span { cursor:pointer;float:right; width:80px; font-size:16px; color:#809fd4; font-weight:normal;}
.con .left .day7 h1 span i{ background-image:url(../../i/english/cityInfo/icon.png);background-repeat:no-repeat; margin-top:13px; margin-left:5px; float:left;width:18px; height:18px;opacity:0.5; filter:alpha(opacity=50);}
.con .left .day7 h1 span em{ float:left; text-indent:5px;}
.con .left .day7 h1 span.gra i{ background-position:0px -163px;_background-position:0px -161px; }
.con .left .day7 h1 span.tab i{ background-position:0px -132px;_background-position:0px -130px; }
.con .left .day7 h1 span.on em{color:#3466bb;}
.con .left .day7 h1 span.on i{ opacity:1; filter:alpha(opacity=100);}

.con .left .day7 .graph { background:#f0f5fb; margin-left:10px;}
.con .left .day7 .graph ul.t { border-bottom:2px solid #cedef1; }
.con .left .day7 .graph ul.t li { float:left; cursor:pointer; color:#3466bb; height:45px; z-index:1; position:relative; width:90px; font-size:18px; text-align:center; line-height:48px; }
.con .left .day7 .graph ul.day8 li{ width:78px;}
.con .left .day7 .graph ul.t li i { background-image:url(../../i/english/cityInfo/icon.png);_background-image:url(../../i/english/cityInfo/icon.gif); background-position:0px -87px; font:0; position:absolute; left:42%; top:39px; _top:41px; height:14px; _height:10px; width:14px; display:block; }
.con .left .day7 .graph ul.t li.on { background:#dbe7f5; }
.con .left .day7 .graph ul.t li.on i { background-position:14px -103px; }
.con .left .day7 .graph .b { height:110px; position:relative; }
.con .left .day7 .graph .bBox { margin:0 auto; width:518px; height:110px; overflow:hidden; position:relative;}
.con .left .day7 .graph .b ul { width:3626px; position:absolute; top:0px; left:0px;}
.con .left .day7 .graph .b ul li { width:518px; float:left; }
.con .left .day7 .graph .b ul li div { width:50%; margin:0; height: 110px;}
.con .left .day7 .graph .b ul li div .l { padding-top:14px;_padding-top:0; width:106px; text-align:center; color:#2e51a5; font-weight:bold; }
.con .left .day7 .graph .b ul li div .l p { height:36px; line-height:17px; _line-height:14px; padding-right:10px; overflow:hidden; }
.con .left .day7 .graph .b ul li div .r { width:130px; padding-top:25px; }
.con .left .day7 .graph .b ul li div .r p { font-size:18px; }
.con .left .day7 .graph .b ul li div .r p span { color: #999999; font-size: 12px; line-height: 36px; padding-right: 5px; vertical-align: bottom; }
.con .left .day7 .graph .b ul li div .r p i { font-size:24px; color:#c4111a; margin:0 5px; }
.con .left .day7 .graph .b ul li div .r p em { font-size: 18px; color:#2e51a5; line-height: 30px; vertical-align: top; }
.con .left .day7 .graph .b ul li div .r p.fen { background: url("../../i/english/cityInfo/icon.png") no-repeat scroll 0 -66px; padding-left: 30px; font-size:12px; color:#3466bb;}
.con .left .day7 .graph .b ul li div.n .r p.fen { background: url("../../i/english/cityInfo/icon.png") no-repeat scroll 0 -346px;  }
.con .left .day7 .graph .b div.n { background:#dbe7f5; color: #2e51a5;}
.con .left .day7 .graph .b .rollLeft, .con .left .day7 .graph .b .rollRight { background:url(../../i/english/cityInfo/icon.png) 0px -189px; cursor:pointer; width:30px; height:40px; display:block; position:absolute; top:36px; left:19px; }
.con .left .day7 .graph .b .rollRight { background:url(../../i/english/cityInfo/icon.png) 0px -228px; left:581px; cursor:pointer;}
.con .left .day7 table{ margin-left:10px; text-align:center; color:#2d51a7; }
.con .left .lcoalcity .day7 table{display:none;}
.con .left .day7 table tr{height:40px; font-size:14px; line-height:20px; border:2px solid #fff;}
.con .left .day7 table tr.tit{ background:#3466bb; color:#fff; font-size:16px; height:40px;}
.con .left .day7 table .head{background:#d6e3f3;margin-top:1px;}
.con .left .day7 table .head em{ font-size:20px; display:block; color:#2e51a5;}
.con .left .day7 table .head i{ font-size:12px; font-weight:bold; color:#3466bb; display:block;}
.con .left .day7 table .bg{background:#f0f0f0; border-bottom:1px;}
.con .left .day7 table .red{color:#a92f2f;}
.con .left .day7 table tr td img{ width:40px; height:30px;}

.con .left .near { padding-top:10px; height: 330px; overflow: hidden; }
.con .left .near h1 { line-height:42px; padding-left:11px; font-size:20px; }
.con .left .near h1 span { margin:0 16px; color:#2e51a5; cursor:pointer; }
.con .left .near h1 span.on { color:#000; }
.con .left .near ul { padding-left:13px; }
.con .left .near ul li { overflow: hidden; background: none repeat scroll 0 0 #E1E8F5; float: left; font-size: 16px; height: 49px; line-height: 49px; padding: 0 13px; width: 282px; }
.con .left .near ul li span { display: inline-block; float: left; overflow: hidden; text-overflow: ellipsis; white-space: normal; width: 128px;  }
.con .left .near ul li i, .con .left .near ul li em {/* background-image:url(../../i/english/cityInfo/icon.png); background-repeat:no-repeat;*/ padding-right:7px; color:#c4111a; width:40px;display:inline-block; text-align:right; }
.con .left .near ul li i{ background-position:18px -366px;_background-position:8px -366px;}
.con .left .near ul li em { background-position:17px -399px;_background-position:8px -398px; color:#000033; margin-right:10px;_margin-right:0px; }
.con .left .near ul li img{ width:40px; height:30px;}
.con .left .near .mt { margin-top:10px; }
.con .left .near .ml { margin-left:10px; }
.con .left .near .c { background:#CDD9EE; }
.con .left .near #nearAttr {display:none; }

.con .right{ width:300px; margin-left:12px; color:#333;}
.con .right .r{ width:120px;}
.con .right h1{ font-size:20px; line-height:38px;}
.con .right .video{}
.con .right .video h1{}
.con .right  .r .txt{ padding-left:12px; height:54px; overflow:hidden; color:#333;}
.con .right  .r .time{height:45px; padding-left:34px; color:#666; padding-top:8px;}
.con .right  .r a{ font-size:14px; float:right; color:#3466bb; line-height:20px;}
.con .right  .r a:hover{ text-decoration:underline;}
.con .right .map2{ margin-top:10px;}
.con .right .ad1,cheWea{ margin-top:10px; border:1px solid #ccc;}
.con .right .ad2,ad{ margin-top:10px; border:1px solid #ccc;}
.con .right .ad1,.cheWea{ margin-top:10px;}
.con .right .ad2,.ad{ margin-top:10px;}


/*国外 li*/
.lcoalcity { height:auto; }
.local { height:70px; margin-bottom:10px; background:#e2ecf7; overflow:hidden; position:relative; }
.local p { padding-left:10px; height:30px; line-height:30px; color:#2e51a5; }
.local p a { color:#2e51a5; font-size:14px; }
.local ul li a{ color:#000; height:100%; width:100%; display:block;}
.local ul li a:hover{ color:#000;}
.con .le { margin-left:0; width:640px; }
.local h1 { font-size:24px; font-weight:bold; color:#000033; text-indent:20px; }
.local ul li { float:left; cursor:pointer; width:155px; text-align:center; line-height:40px; margin-right:10px; color:#3466bb; font-size:18px; height:40px; }
.local ul li.move { background:#fff; color:#000033; }
.local ul { position:absolute; top:30px; left:150px; }
.threeDay { height:110px; margin-left:10px; margin-bottom:10px; width:630px; background:#3466bb; }
.threeDay ul { background:#fff; height:30px; }
.threeDay ul li { float:left; width:208px; height:30px; font-size:18px; cursor:pointer; text-align:center; line-height:30px; background:#e2ecf7; margin-right:2px; }
.threeDay ul li.move { background:#3466BB; color:#fff; }
.days { width:315px; float:left; }
.nights { width:315px; background:#2e51a5; height:77px; float:left; }
.ds p { color:#f1c936; font-size:14px; height:24px; line-height:24px; text-indent:29px; }
.yubao {  overflow:hidden; position:relative;width:640px;}
.yubao {display:none; }
.yubao  li { margin-left:7px;_margin-left:6px; position:relative; cursor:pointer; background:#e2ecf7; position:relative; height:230px; width:150px; color:#2e51a5; border:1px solid #e2ecf7; text-align:center; float:left; }
.yubao  li.on{ background:#FFD02C; border:1px solid #FFD02C; color:#000;}
.yubao  li.on h1{ background:#ffe795;}
.yubao  li.on em,.yubao  li.move em{ background:url('../../i/english/cityInfo/tri.jpg'); z-index:11; width:34px; height:16px; display:block; position:absolute; top:100%; left:50%;margin-top:1px; margin-left:-17px;}
.yubao  li.move em {margin-top:0;}
.yubao  li h1 { background:#fff; font-size:20px; line-height:30px }
.yubao  li h2 { font-size:14px; background:#fff; line-height:30px; }
.yubao  li img { margin-top:20px; height: 60px; width: 60px; margin-right: 4px; }



.yubao li h1 span{font-size:16px;padding-left:10px;}
.yubao  li .tem span.hight { color:#ca3d46; font-size: 24px; padding-left: 4px; }
.yubao  li .tem span.wC { font-size: 24px; padding-left: 4px; }
.yubao  li .tem em { font-size:18px; vertical-align:top; line-height:30px }
.yubao .sant li .wea{font-size: 14px;}
.yubao  li .felike { }
.yubao  li .felike i { font-size:18px; margin-left:3px }
.yubao  li .num span { font-size:12px; line-height:30px; padding-left:16px }
.yubao  li .num .n1 { background:url(http://i.tq121.com.cn/i/english/cityInfo/icon.png) no-repeat scroll 0 -32px; padding-right:7px }
.yubao  li .num .n2 { background:url(http://i.tq121.com.cn/i/english/cityInfo/icon.png) no-repeat scroll 0 -49px); padding-left:0px }
.yubao  li.move { background:#ffd02c; color:#000; }
.yubao  li.move h1 { background:#ffe795; }
.yubao  li.move h2 { background:#ffe795; }
#yubao{ height:233px;}
.ljt { background:url(lrjt.jpg) no-repeat 0px 0px; width:30px; height:50px; position:absolute; top:140px; left:0; cursor:pointer; }
.rjt { background:url(lrjt.jpg) no-repeat -30px 0px; width:30px; height:50px; position:absolute; top:140px; right:0; cursor:pointer; }
.con .left .lcoalcity .day7 div.dcon { background:#DBE7F5; }
.con .left .lcoalcity .day7 ul.t li { width:78px; }
.con .left .lcoalcity .day7 .graph { position:relative; background:#dbe7f5; overflow:hidden; *width:630px;}
.con .left .lcoalcity .day7 .graph ul.t li i { left:30px; background:url(http://i.tq121.com.cn/i/english/cityInfo/icon.png) no-repeat 0px -282px; }
.con .left .lcoalcity .day7 .graph ul.t li.on i { background:url(http://i.tq121.com.cn/i/english/cityInfo/icon.png) no-repeat -10px -305px; }
.con .left .lcoalcity .day7 .graph .b ul li { width:201px; float:left; cursor:pointer; background:url(http://i.tq121.com.cn/i/english/cityInfo/line.png) no-repeat right #f0f5fb; color:#3466bb; padding-left:10px; height:111px; font-size:14px; }
.con .left .lcoalcity .day7 .graph .b ul li p { text-align:center; height:30px; line-height:40px; color:#000033 }
.con .left .lcoalcity .day7 .graph .b ul li span { display:block; text-align:center; width:200px; overflow:hidden; float:left; }
.con .left .lcoalcity .day7 .graph .bBox { margin-left:0px; width:630px; }
.con .left .lcoalcity .day7 .graph .b ul li span i { font-size:20px; }
.con .left .lcoalcity .day7 .graph .b ul li span b{font-size:20px; font-weight: normal;}
.con .left .lcoalcity .day7 .graph .b .rollLeft { z-index:100; left:7px; }
.con .left .day7 .graph .b .rollRight { z-index:100; left: 595px; }
.yubao ul li.move div { position:absolute; z-index:1000; left:60px; top:229px; }
.yubao ul li.move div img { margin-top:0; }
.con .left .lcoalcity .day7 .graph .b ul li.move { background:#dbe7f5; }
.con .left .day7 .graph ul.t { position:relative; z-index:100; }
.lins_am { left: 33px; position: absolute; top: 42px; z-index: 200; }
.lins_am span { display:none; width:88px; height:8px; background:url(xian.jpg) no-repeat; float:left; }
.lins_am span.o { margin-left:78px; }
.lins_am span.t { margin-left:155px; }
.lins_am span.s { margin-left:233px; }
.lins_am span.f { margin-left:312px; }
.lins_am span.v { margin-left:390px; }
.lins_am span.x { margin-left:468px; }
.sant {overflow:hidden; position:relative; width:640px; }
.sant  li { margin-left:9px; _margin-left:7px; cursor:pointer; background:#e2ecf7; position:relative; height:230px; width:201px; color:#2e51a5; border:1px solid #e2ecf7; text-align:center; float:left; }
.sant  li h1 { background:#fff; font-size:20px; line-height:30px }
.sant  li h2 { font-size:14px; background:#fff; line-height:30px; }
.sant  li img { margin-top:20px }
.sant  li .wea { font-weight:bold; line-height:30px; margin-top:9px }
.sant  li .tem { font-size:18px }
.sant  li .tem span { font-size:24px; vertical-align:bottom; padding-right:5px; line-height:36px }
#yubao .sant li .tem span { font-size:24px; vertical-align:bottom; padding-right:0px; line-height:25px; padding-left: 5px; }
.yubao  li .tem { font-size:12px }
.sant  li .tem i { font-size:12px; position:relative; top:-20px; }
.sant  li .tem span.hight { color:#ca3d46; }
.sant  li .tem em { font-size:18px; vertical-align:top; line-height:30px }
.sant  li .felike { }
.sant  li .felike i { font-size:18px; margin-left:3px }
.sant  li .num span { font-size:12px; line-height:30px; padding-left:16px }
.sant  li .num .n1 { background:url(http://i.tq121.com.cn/i/english/cityInfo/icon.png) no-repeat scroll 0 -32px; padding-right:7px }
.sant  li .num .n2 { background:url(http://i.tq121.com.cn/i/english/cityInfo/icon.png) no-repeat scroll 0 -49px); padding-left:19px }
.sant  li.move { background:#ffd02c; color:#000; }
.sant  li.move h1 { background:#ffe795; }
.sant  li.move h2 { background:#ffe795; }
.yubao  li .tem i { font-size:12px; position:relative; top:-8px; }
.yubao  li .wea { font-weight:bold; line-height:40px; margin-top:0px; margin-bottom: 5px; font-size: 14px; }
.yubao li .num .n2{padding: 0;}
.graph div.t { height:35px; line-height:35px; padding:0 35px; border-bottom:3px solid #3465ba; }
.graph div.t a { width:80px; height:100%; cursor:pointer; float:left; position:relative; }
.graph div.t a:hover { color:#000; }
.graph div.t a i { margin-left:-12px; position:absolute; left:0; }
.graph div.t a em { background-image:url(../../i/english/cityInfo/icon.png);_background-image:url(../../i/english/cityInfo/icon.gif); background-position:-3px -284px; width:10px; height:10px; display:block;position:absolute;top:100%;left:0;margin-top:-3px;margin-left:-5px; z-index:1;}
.graph div.t a.move { border-bottom:3px solid #b93333; }
.graph div.t a.move1 { border-bottom:3px solid #3465BA; }
.graph div.t a.move em { background-position:15px -308px;}
.graph div.t a.move1 em { background-position:15px -308px;}


#day1_3_t{ position:relative;}
#day1_3_t p{ position:absolute; height:35px; width: 1000px;}
#day1_3_t i{ position:absolute; top:0px; height:43px; width:70px; display:block; z-index:11; }
#day1_3_t i.coverLeft{ left:0;width:45px;}
#day1_3_t i.coverRight{left:585px;width:45px;}
/*
#day1_3_t span{ position:absolute; top:0px; left:0px; display:block;}

*/