@charset "utf-8";
/* CSS Document */

.left
{
	overflow: hidden;
	width:645px;}
.videoc h1
{
	color:#2e51a5;
	font-size:14px;
	height:32px;
	line-height:32px;
	text-indent:10px;
	background:#e2ecf7;}
.videoc h1 a{
	font-size: 14px;
	color: #2E51A5;
}
.videoc h2
{
	font-size:20px;
	color:#111141;
	text-align:center;
	font-weight:normal;
	padding-top:20px;
	padding-bottom:10px;}
.videoc h3
{
	text-align:center;
	padding-bottom:15px;
	color:#3466bb;}
.videoc p
{
	width:631px;
	margin-left:10px;
	padding-bottom:10px;
	}
.moreVideo
{
	margin-left:10px;}
.moreVideo h1
{
	text-indent:10px;
	color:#2e51a5;
	font-size:18px;
	height:30px;
	line-height:30px;
	background:#e2ecf7;}
.moreVideo ul li
{
	width:120px;
	height:35px;
	float:left;
	line-height:35px;
	margin-right:8px;
	background:url(http://i.tq121.com.cn/i/english/news/v_icon.png) no-repeat -4px -2px #f0f5fb;
	padding-left:30px;
	margin-top:10px;}
.moreVideo ul li a
{
	color:#3466bb;
	font-size:14px;}
.moreVideo ul li.last
{
	background:url(http://i.tq121.com.cn/i/english/news/v_icon.png) no-repeat 53px -44px  #f0f5fb;}
.moreVideo ul li.lk
{
	display:none;}
.moreVideo ul li.first
{
	background:url(http://i.tq121.com.cn/i/english/news/v_icon.png) no-repeat 53px -92px #f0f5fb;}
.right
{
	width:305px;
	margin-left:10px;}
.cheWea
{
	margin-bottom:10px;}
.days3 dl dt 
{
	width:140px;
	height:100px;
	float:left;}
.days3 dl dd
{
	float:left;
	color:#333333;
	font-size:14px;
	margin-left:7px;
	width:150px;}
.days3 h1
{
	margin-bottom:7px;}
.days3 dl
{
	overflow:hidden;
	line-height:20px;
	height:100px;
	margin-bottom:10px;}
	
	
	
	
/**content**/
.content h1
{
	color:#2e51a5;
	font-size:14px;
	height:32px;
	line-height:32px;
	text-indent:10px;
	background:#e2ecf7;}

.content h1 a{	color: #2E51A5;}
.content h2
{
	font-size:20px;
	color:#111141;
	text-align:center;
	font-weight:normal;
	padding-top:20px;
	padding-bottom:10px;}
.content h3
{
	text-align:center;
	padding-bottom:15px;
	color:#3466bb;}
.content p
{
	font-size:14px;
	color:#333333;
	line-height:22px;
	width:630px;
	margin:0 auto;
	word-break:break-all;
	margin-bottom:10px;}
	
	
/**news**/
.news h1
{
	    background:#E2ECF7;
    color: #2E51A5;
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    text-indent: 10px;}
.news h1 a{
	font-size: 14px;
	color: #2E51A5;
}
.newsL
{
	margin-left:10px;}
.sw h1
{
	font-size:18px;
	margin-bottom:15px;
	height:39px;
	color:#000033;
	line-height:39px;}
.sw dl
{
	height:125px;
	margin-bottom:10px;}
.sw dl dt a img
{
	width:180px;
	height:125px;
	}
.sw dl dt 
{
	width:180px;
	height:125px;
	overflow:hidden;
	float:left;}
.sw dl dd
{
	float:left;
	margin-left:10px;
	width:440px;
	word-break:break-all;}	
.sw h2 a
{
	color:#3466bb;
	font-size:18px;
	}
.sw dl dd p
{
	color:#333333;
	line-height:23px;
	font-size:14px;}
.map h1 {
    font-size: 20px; 
    line-height: 38px;
}
.map .map2 {
    margin-top: 10px;
}
.map .txt{
 height: 54px;
    overflow: hidden;
    padding-left: 12px;
}

.map .time {
    color: #666666;
    height: 45px;
    padding-left: 34px;
    padding-top: 8px;
}
.map .r {
    width: 120px;
}
.map
{
	margin-bottom:10px;}
.sw
{
	clear:both;}
.das3
{
	background:url(http://i.tq121.com.cn/i/english/news/3ds.jpg) no-repeat;
	width:309px;
	height:130px;
	margin-bottom:10px;
	float:left;}
.das3 p
{
	width:283px;
	height:95px;
	margin:30px auto 0;
	line-height:19px;
	font-size:14px;
	word-break:break-all;}
.das10
{
	background:url(http://i.tq121.com.cn/i/english/news/10ds.jpg) no-repeat;
	width:309px;
	height:130px;
	margin-bottom:10px;
	float:right;}
.das10 p
{
	width:283px;
	height:95px;
	margin:30px auto 0;
	line-height:19px;
	font-size:14px;
	word-break:break-all;}
.vwf h2
{
	height:45px;
	line-height:45px;
	font-size:20px;
	color:#000033;}
.vwf
{
	height:340px;
	margin-bottom:10px;}
.vwf dl dt
{
	width:420px;
	height:289px;
	position:relative;
	float:left;}
.vwf dl dd
{
font-size:14px;
width:189px;
margin-left:8px;
position:relative;
word-break:break-all;
float:left;
	}
.vwf dl dd span
{
	font-size:18px;
		color:#3466bb;
		display:block;}
	.vwf dl dd b
{
	font-size:12px;
		color:#666666;
		padding-top:30px;
		display:block;}
.vwf dl dt i
{

	 background: url(http://i.tq121.com.cn/i/index/index_icons.png) no-repeat scroll -68px -48px rgba(0, 0, 0, 0);
    display: block;
    height: 44px;
    left: 190px;
    position: absolute;
    top: 123px;
    width: 44px;
}
.right .img2{margin-top: 11px;}
.right .img1 img,.img2 img{float: left;}
.right .d1{float: left;display: table;width:120px;height: 125px;*position:relative;}
.right .d2{display: table-cell;vertical-align:middle; *position:absolute;*top:50%;}
.right .d3{padding-left: 11px;*position:relative;*top:-50%; }
.right h1 {
    font-size: 18px;
    height: 40px;
    line-height: 40px;
}